html,body{
	width :100%;
	height: 100%;
	margin-left: 0;
	margin-right: 0;
}

.all {
	width: 100%;
	height: 100%;
}

.container{
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	margin-right: 0;
	height: 100%;
	width: 100%;
	max-width: 100%;
	max-height: 100%;
}
.row{
	padding-right: 0;
	padding-left: 0;
}
.col-sm-5{
	padding-right: 0;
	padding-left: 0;
}
.col-sm-7{
	padding-right: 0;
	padding-left: 0;
}

.first-row {
	height: 100%;
}


.leftabout{
	background-image: url(../assets/about.jpg);
	background-size: contain;
    background-size: cover;
	background-repeat: no-repeat;
	width:100%;
	height: 100%;
	display: inline-block;
    
}
@media only screen and (max-width: 500px) {
	.leftabout {
		height: auto;
		width: auto;
	}
}
.leftcontact{
	background-image: url(../assets/contact.jpg);
	background-repeat: no-repeat;
	display: inline-block;
    background-size: contain;
    background-size: cover;
    height: 100%;
    width: 100%;
}
@media only screen and (max-width: 500px) {
	.leftcontact {
		font-size: 0.9em;
		height: auto;
	}
}
.leftschedule{
	background-image: url(../assets/schedule.jpg);
	background-repeat: no-repeat;
	display: inline-block;
    background-size: contain;
    background-size: cover;
    height: 100%;
    width: 100%;
}
@media only screen and (max-width: 500px) {
	.leftschedule {
		height: auto;
	}
}
.leftresume{
	background-image: url(../assets/resume.jpg);
	background-repeat: no-repeat;
	height:100%;
	width: 100%;
	display: inline-block;
    background-size: contain;
    background-size: cover;
}
@media only screen and (max-width: 500px) {
	.leftresume {
		height: auto;
	}
}
.leftgallery{
	background-image: url(../assets/gallery.jpg);
	background-repeat: no-repeat;
	height:100%;
	width:100%;
	display: inline-block;
    background-size: contain;
    background-size: cover;
}
@media only screen and (max-width: 500px) {
	.leftgallery {
		height: auto;
	}
}
.nav-link{
	color: black;
	font-family: 'Parisienne';
	color: black;
	font-weight: bold;
	font-style: normal;
	font-weight: normal;
	font-size: 2em;
	width: 100%;
}
@media only screen and (max-width: 1250px) {
	.nav-link {
		font-size: 1.8em;
	}
}
@media only screen and (max-width: 1000px) {
	.nav-link {
		font-size: 1.6em;
	}
}
@media only screen and (max-width: 850px) {
	.nav-link {
		font-size: 1.4em;
	}
}
@media only screen and (max-width: 750px) {
	.nav-link {
		font-size: 1.2em;
	}
}
@media only screen and (max-width: 500px) {
	.nav-link {
		font-size: 0.9em;
	}
}
.judulhomepage{
	font-family: 'Open Sans Hebrew Condensed';
	font-style: normal;
	font-weight: normal;
	font-size: 6em;
	font-weight: bold;
	color: 	#1C2833;
	text-shadow: 3px 2px 3px #BC8F8F;
	width: 60%px;
	margin-left: 10%;
	margin-top: 15%;
}
@media only screen and (max-width: 1250px) {
	.judulhomepage {
		font-size: 5.2em;
	}
}
@media only screen and (max-width: 1000px) {
	.judulhomepage {
		font-size: 4.5em;
	}
}
@media only screen and (max-width: 870px) {
	.judulhomepage {
		font-size: 3.8em;
	}
}
@media only screen and (max-width: 700px) {
	.judulhomepage {
		font-size: 3.2em;
	}
}
@media only screen and (max-width: 600px) {
	.judulhomepage {
		font-size: 3em;
	}
}
}
@media only screen and (max-width: 500px) {
	.judulhomepage {
		font-size: 2em;
	}
}

.judulsemua{
	text-align: center;
	margin-top: 50%;
	margin-bottom: 0%;
	font-family: 'Open Sans Condensed';
	font-style: normal;
	font-weight: bold;
	font-size: 6em;
}
@media only screen and (max-width: 500px) {
	.judulsemua{
		margin-top: 35% ;
		font-size: 4em;
	}
}

.judulresume{
	position: absolute;
	width: 203px;
	height: 200px;
	left: 218px;
	margin-bottom: 30px;
	top: 283px;
	font-family: 'Open Sans Condensed';
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	line-height: 150px;
}
.gambarhomepage{
	margin-right: 5%;
	width: 85%;
	margin-left: 5%;
	margin-top: 200%;
}
.tengah{
	margin-left: 3%;
	margin-top: 2%;
	width: auto;
}
@media only screen and (max-width: 500px) {
	.tengah{
		margin-top: 5%;
		margin-bottom: 40%;
		margin-left: 3%;
	}
}
.textprofil{
	margin-left: 20%;
	font-family: 'Open Sans Hebrew';
	font-style: normal;
	font-size: 1.9em;
	margin-top: 3rem;
}
@media only screen and (max-width: 1250px) {
	.textprofil {
		font-size: 1.7em;
		margin-left: 10%;
	}
}
@media only screen and (max-width: 750px) {
	.textprofil {
		font-size: 1.4em;
		margin-left: 10%;
	}
}
@media only screen and (max-width: 550px) {
	.textprofil {
		font-size: 1.1em;
		margin-left: 10%;
	}
}
@media only screen and (max-width: 350px) {
	.textprofil {
		font-size: 0.8em;
		margin-left: 10%;
	}
}

.pgabout{
	width: 60%;
	padding-top: 10%;
	margin-left: 15%;
	font-family: 'Open Sans Condensed';
	font-style: normal;
	font-weight: bold;
	font-size: 2em;
	text-align: center;
}
@media only screen and (max-width: 1250px) {
	.pgabout {
		margin-left: 20%;
	}
}

@media only screen and (max-width: 800px) {
	.pgabout {
		margin-left: 15%;
	}
}
@media only screen and (max-width: 500px) {
	.pgabout {
		margin-left: 15%;
	}
}
@media only screen and (max-width: 300px) {
	.pgabout {
		margin-left: 15%;
	}
}
.pgresume{
	margin-top: 15%;
	margin-left: 10%;
}
.pgcontact{
	width: 60%;
	padding-top: 5%;
	margin-left: 17%;
	text-align: center;
	font-family: 'Open Sans Hebrew';
	font-style: normal;
	font-weight: bold;
	font-size: 2.8em;
}
@media only screen and (max-width: 500px) {
	.pgcontact{
		font-size: 1.8em;
		margin-left: 13%;
		width: 80%;
		text-align: center;
	}
}
.profil{
	width: 100%;
	margin-left: 2%;
	margin-top: 5%;
	font-family: Open Sans Hebrew;
	font-style: normal;
	font-weight: bold;
	font-size: 2em;
	text-align: center;
}
@media only screen and (max-width: 1250px) {
	.profil {
		font-size: 1.8em;
		margin-left: 5%;
		margin-top: 10%;
	}
}
@media only screen and (max-width: 1000px) {
	.profil {
		font-size: 1.7 em;
		margin-left: 5%;
		margin-top: 10%;
	}
}
@media only screen and (max-width: 750px) {
	.profil {
		font-size: 1.5em;
		margin-left: 5%;
		margin-top: 10%;
	}
}

@media only screen and (max-width: 500px) {
	.profil {
		font-size: 1.4em;
		margin-left: 5%;
		margin-top: 10%;
	}
}
.pp{
	position: relative;
	left: -10%;
	margin-top: -20%;
	width: 25%;
	bottom: 0;
	border-radius: 1024px;

}
@media only screen and (max-width: 1250px) {
	.pp {
		margin-left: 15%;
	}
}
@media only screen and (max-width: 500px) {
	.pp {
		margin-left: 15%;
	}
}
.gambar111{
	width: 25%; 
	height:25%;
	margin-top: 12%;
	background-color: silver;
	padding: 10px;

}
.gambar222{
	width: 25%; 
	height:25%;
	margin-top: 12%;
	margin-left: 8%;
	background-color: silver;
	padding: 10px;
	
}
.gambar333{
	width: 25%; 
	height:25%;
	margin-top: 12%;
	margin-left: 8%;
	background-color: silver;
	padding: 10px;
}
.gambar444{
	width: 25%; 
	height:25%;
	margin-top: 10%;
	background-color: silver;
	padding: 10px;
	margin-bottom: 13%;
}
.gambar555{
	width: 25%; 
	height:25%;
	margin-top: 10%;
	margin-left: 8%;
	background-color: silver;
	padding: 10px;
	margin-bottom: 13%;
}
.gambar666{
	width: 25%; 
	height:25%;
	margin-top: 10%;
	margin-left: 8%;
	background-color: silver;
	padding: 10px;
	margin-bottom: 13%;
}
@media only screen and (max-width: 1000px) {
	.gambargallery{
		height:auto;
	}
}
.gambar00{
	margin-top: 9%;
	width: 16%;
	height: 18%;
	margin-left: 5%;
}
.gambar11{
	margin-top: 9%;
	width: 16%;
	margin-left: 16%;
	height: 18%;
}
.gambar22{
	margin-top: 9%;
	width: 16%;
	margin-left: 15%;
	height: 18%;
}
.gambar33{
	margin-top: 7%;
	width: 16%;
	height: 18%;
	margin-left: 5%;
}
.gambar44{
	margin-top: 7%;
	width: 16%;
	margin-left: 15%;
	height: 18%;
}
.gambar55{
	margin-top: 7%;
	width: 16%;
	margin-left: 15%;
	height: 18%;
}
@media only screen and (max-width: 500px) {
	.gambarcontact{
		width: 10%;
		height: 10%;
		margin-top: 2%;
		margin-left: 15%;
	}
}
.textgambar00{
	margin-top: 10%;
	margin-left: 5%;
	font-family: 'Open Sans Hebrew';
	font-size: 2em;
}
@media only screen and (max-width: 500px) {
	.textgambar00{
		font-size: 1.2em;
		margin-left: 3%;
	}
}

.textgambar11{
	margin-top: 10%;
	font-family: 'Open Sans Hebrew';
	margin-left: 15%;
	font-size: 2em;
}
@media only screen and (max-width: 500px) {
	.textgambar11{
		font-size: 1.2em;
		margin-left: 5%;
	}
}

.textgambar22{
	margin-top: 10%;
	font-family: 'Open Sans Hebrew';
	margin-left: 17%;
	font-size: 2em;
}
@media only screen and (max-width: 500px) {
	.textgambar22{
		font-size: 1.2em;
		margin-left: 5%;
	}
}

.textgambar33{
	margin-top: 5%;
	font-family: 'Open Sans Hebrew';
	font-size: 2em;
}
@media only screen and (max-width: 500px) {
	.textgambar33{
		font-size: 1.2em;
	}
}

.textgambar44{
	margin-top: 5%;
	font-family: 'Open Sans Hebrew';
	margin-left: 16%;
	font-size: 2em;
}
@media only screen and (max-width: 500px) {
	.textgambar44{
		font-size: 1.2em;
		margin-left: 4%;
	}
}

.textgambar55{
	margin-top: 5%;
	margin-left: 20%;
	font-size: 2em;

}
@media only screen and (max-width: 500px) {
	.textgambar55{
		font-size: 1.2em;
		margin-left: 8%;
	}
}



div.gallery{
	text-align: center;
	list-style-type: none;
	padding:0;
	top: 0;
	background-color: black;
	overflow: hidden;
	margin-top: 20%;
	font-size: 24px;
	width: 100%;
}
.bold{font-weight:bold;}
.timeline-wrapper {
	margin-top: 5%;
	margin-left: 25%;
	margin-right: 0;
	margin-bottom: 10%;
	font-size: 20px;
	font-family: 'Open Sans Hebrew';
}
.StepProgress {
	position: relative;
	list-style: none;
}
.StepProgress::before {
	display: inline-block;
	content: '';
	position: absolute;
	top: 0;
	left: 5%;
	width: 60%;
	height: 100%;
}
.StepProgress-item {
	position: relative;
	counter-increment: list;
}
.StepProgress-item:not(:last-child) {
padding-bottom: 20px;
}
.StepProgress-item::before {
display: inline-block;
content: '';
position: absolute;
left: -30px;
height: 100%;
width: 10px;
}
.StepProgress-item::after {
content: '';
display: inline-block;
position: absolute;
top: 0;
left: -37px;
width: 12px;
height: 12px;
border-radius: 50%;
background-color: #FFF;
}
.StepProgress-item.is-done::before {
border-left: 2px solid black;
}
.StepProgress-item.is-done::after {
color: #FFF;
text-align: center;
border: 2px solid black;
background-color: black;
}
.StepProgress strong {
display: block;
}

@media only screen and (max-width: 500px) {
	.timeline-wrapper {
	margin-left: 10%;
	}
}
/*-------------------------------------------------------------------------------*/
.all {
	width: 70%;
	height: auto;
	margin-top: 2%;
	margin-right: 10%;
	margin-left: 15%;
	margin-bottom: 10%;
}
.judulschedule{
	text-align: center;
	font-size: 'Open Sans Hebrew';
	color : lightgrey;
	text-shadow: 3px 2px 3px black;
	font-size: 3em;
	margin-top: 2%;
}

.label{
	font-size:1.5em;
	color: grey;
	padding-bottom: 5%;
	font-size: 'Open Sans Hebrew';

}
.input {
	padding: 5%;
}
.butt{
	background-color: grey;
	border-color: grey;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-top: 3%;
}
.delete{
	margin-top: 0%;
	margin-left: 80%;
	background-color: red;
	border-color: red;
	border-radius: 100%;
}
.out{
	margin-left: 1%;
	margin-top: 2%;
}
