{% extends "base.html" %}

{% load static %}

{% block content %}
<body>
	<div class="container">
  		<div class="row first-row">
		    <div class="col-sm-5">
		      <div class="leftabout">
		        <h1 class="judulsemua"> About </h1>
		          	<ul class="nav tengah">
			            <li class="nav-item">
				    		<a class="nav-link" href="/home/">Home</a></li>
				  		<li class="nav-item">
				    		<a class="nav-link" href="/about/">About</a></li>
				  		<li class="nav-item">
				 			<a class="nav-link" href="/resume/">Resume</a></li>
				  		<li class="nav-item">
				    		<a class="nav-link" href="/contact/">Contact</a></li>
				    	<li class="nav-item">
				    		<a class="nav-link" href="/gallery/">Gallery</a></li>
				    	<li class="nav-item">
		    				<a class="nav-link" href="/schedule/">Schedules</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-7">
				<p class="pgabout">Hello, my name is Shinta, you can call me Shinta. I study in University of Indonesia majored in Informatic System.</p>
				<p class="profil"> Profile </p>
				<img class="pp" src="{% static 'assets/Shinta4.jpg'%}">
				<div class="textprofil">
					<div class="row">
						<div class="col">
							Full name	: <br>Shinta Fauziah<br><br>
							Nick name	: <br>Shinta <br><br>
							Birth Date	: <br>9 April 2000 <br><br>
						</div>
						<div class="col">				
							Address		: <br>BDB Street No. 82<br><br>
							Gender		: <br>Female<br><br>
							Religion	: <br>Moslem<br><br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}