{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container">
  <div class="row first-row">
    <div class="col-sm-5">
      <div class="leftschedule">
      <h1 class="judulsemua"> Schedule </h1>
      <ul class="nav tengah">
          <li class="nav-item">
            <a class="nav-link" href="/home/">Home</a></li>
          <li class="nav-item">
            <a class="nav-link" href="/about/">About</a></li>
          <li class="nav-item">
          <a class="nav-link" href="/resume/">Resume</a></li>
          <li class="nav-item">
            <a class="nav-link" href="/contact/">Contact</a></li>
          <li class="nav-item">
            <a class="nav-link" href="/gallery/">Gallery</a></li>
          <li class="nav-item">
            <a class="nav-link" href="/schedule/">Schedules</a></li>
      </ul>
    </div>
  </div>
  <div class="col-sm-7" >
  <H1 class ="judulschedule"> Shinta's Schedule </H1>
  <div class ="all">
  <form action = "/addschedule/" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label class ="label"> Event name : <br> </label> 
      <input  name = "nama_kegiatan" type="text" class="form-control input" placeholder="Name">
    </div>
    <div class="form-group">
      <label class ="label"> Place : <br> </label> 
      <input name = "tempat" type="text" class="form-control input" placeholder="Place">
    </div>
     <div class="form-group">
      <label class ="label"> Category : <br></label> 
      <input name = "kategori" type="text" class="form-control input" placeholder="Category">
    </div>
    <div class="form-group">
      <label class ="label">Date Start : <br></label> 
      <input name="waktu_mulai" type="datetime-local" class="form-control input" placeholder="Enter Date">
    </div>
    <div class="form-group">
      <label class ="label"> Date Finish : <br></label> 
      <input name ="waktu_selesai" type="datetime-local" class="form-control input" placeholder="Enter Date">
    </div>
    <div class="form-group">
      <label class ="label"> Message : <br></label> 
      <input name ="pesan" type="text" class="form-control input" placeholder="Enter your Message">
    </div>
    <div class="form-group form-check">
    </div>
    <button type="submit" class="btn btn-primary butt">Submit your schedule</button>
  </form>
  {% for i in Aktivitas_Shinta %}
  <h4 class ="output"> Start Time : {{ i.waktu_mulai }}</h4>
  <h4 class ="output"> End Time   : {{ i.waktu_selesai }}</h4>
  <h4 class ="output"> Message    : {{ i.pesan }}</h4> 
  <h4 class ="output"> Nama Kegiatan    : {{ i.nama_kegiatan }}</h4> 
  <h4 class ="output"> Tempat   : {{ i.tempat }}</h4> 
  <h4 class ="output"> Kategori   : {{ i.kategori }}</h4>
  <form action = "/delete/" method="POST">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{ i.id }}"> 
    <button type ="submit"class="btn btn-primary delete">Delete</button> 
  {% endfor %}
</div>
</form>
</div>
</div>
</div>
</div>

  {% endblock %}